/.gradle
/build
/bin
/run
/.settings
/.classpath
/.project
*.launch
/src/generated/resources/.cache
/.idea/
/run-server/
/test-server/*
!/test-server/server.properties
!/test-server/config/elementalcraft-common.toml
/logs/
/.factorypath
/Users/
*.hprof
/libs/
/sonar.bat
/.apt_generated/
