name: Publish
on:
  push:
    tags:
      - '*'
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Cache Gradle packages
        uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Get the version in tag
          id: get_tag_version
          run: echo ::set-output name=TAG_VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Publish
        env:
          MODMAVEN_USER: ${{ secrets.MODMAVEN_USER }}
          MODMAVEN_PASSWORD: ${{ secrets.MODMAVEN_PASSWORD }}
          CURSEFORGE_KEY: ${{ secrets.CURSEFORGE_KEY }}
        run: ./gradlew publish curseforge --info --stacktrace -P tag_varsion=${{ steps.get_tag_version.outputs.TAG_VERSION }}
